{% extends "base.html" %}

{% block content %}

<h2 style="color:magenta;" class="title">
  {{ name }}! This is what we are:)
</h2>
<body>

    <p> <strong>We work really hard to compile and bring best for you. </strong> </br> </p>
    <p> Contact us at:  
      <b> Hamesh Sharma (Scrum Master)  951-818-1642 </b> </br>
      <b> Monique Contreras (Team Leader) 111-111-1111 </b> </br>
      <b> Astha Sharma (Developer) 714-856-1111 </b> </br>
      <b> Lei Wang (Developer) 951-595-1210 </b> </br>
      <b> Toni Yu Dong (Developer) 714-882-0426 </b> </br>
      <b> Alex Chau (Developer) 714-768-7621 </b>
    
    </p>

  </body> 

</br>
</br>

<footer style="color:magenta;">
    <a href="/">Back to homepage</a> </br>
    <a href="/profile">Back to Profile Page</a> </br>
    <h6>©All Rights reserved by original authors.</h6>
</footer>

{% endblock %}
