<!-- templates/beg.html -->
{% block content %}

<body style="background-image:url('/static/hj.jpg');">

<h2>The Beginner Meal Plan</h2>
<dl>
    <dt><strong>Target:</strong></dt>
    <dd>- 2,500 calories</dd>
    <dd>- 218g carbs</dd>
    <dd>- 218g protein</dd>
    <dd>- 83g fat</dd>
</dl>
<h3>Sample Meal Options</h3>
<dl>
    <dt><strong>Meal 1:</strong></dt>
    <dd>- Greek Yogurt: 1 and 1/2 cups</dd>
    <dd>- Raspberries: 1/2 cup</dd>
    <dd>- Granola: 1/3 cup </dd>
    <dd>- Eggs: 3</dd>
    <dd><li><strong>Raspberry Alternate Options: </strong>5 sliced strawberries, 1/2 cup blueberries, 2/3 cup blackberries, or 1 tbsp raisins</li></dd>
    <dd><li><strong>Granola Alternate Options: </strong>1/3 cup Ezekiel Cinnamon Raisin cereal, 1/3 cup rolled oats, 3/4 cup Fiber One cereal, or 2/3 cup Kashi Organic Cinnamon Harvest</li></dd>
    <br>
    <dt><strong>Meal 2: Double Chocolate Cherry Smoothie</strong></dt>
    <dd>- Protein Powder (Chocolate): 2 scoops</dd>
    <dd>- Coconut Milk: 1/4 cup</dd>
    <dd>- Cherries: 3/4 cup </dd>
    <dd>- Flaxseeds: 1 tbsp</dd>
    <dd>- Cocoa Powder: 1 tbsp</dd>
    <dd>- Ice: 3-4 cubes</dd>
    <dd>- Water: 2-3 cups</dd>
    <dd><li><strong>Coconut Milk Alternate Options: </strong>2 tbsp chopped walnuts</li></dd>
    <dd><li><strong>Cherries Alternate Options: </strong>1 cup blackberries</li></dd>
    <br>
    <dt><strong>Meal 3: Bibb Lettuce Burger</strong></dt>
    <dd>- Lettuce: 2 leaves</dd>
    <dd>- Ground Beef (95% lean): 8 oz.</dd>
    <dd>- Tomato: 2 slices </dd>
    <dd>- Red Onion: 2 slices</dd>
    <dd>- Ketchup: 1 tbsp</dd>
    <dd>- Mayonnaise: 1 tbsp</dd>
    <dd>- Green Beans: 3 cups</dd>
    <br>
    <dt><strong>Meal 4: Post-Workout Nutrition</strong></dt>
    <dd>- Protein Bar (or Recovery shake): 1 serving</dd>
    <br>
    <dt><strong>Meal 5: Shrimp with Spinach Salad & Brown Rice</strong></dt>
    <dd>- Shrimp: 6 oz.</dd>
    <dd>- Brown Rice: 1/4 cup</dd>
    <dd>- Spinach: 4 cups</dd>
    <dd>- Feta Cheese: 1/4 cup</dd>
    <dd>- Bell Pepper: 1/2</dd>
    <dd>- Olive Oil (Extra virgin): 2 tbsp</dd>
</dl>

<a href="/meal_plans">Back to previous page</a> </br>
<a href="/profile">Back to homepage</a>
<h6>©All Rights reserved by original authors.</h6>
 </body>   
{% endblock %}
