<!-- templates/bodystrength.html -->

{% block content %}
    <body style="background-image:url('/static/work1.jpg');">
    <h3>You can pick the following exercises: </h3>
    <ul>
        <li><a href="https://www.ideafit.com/exercise-library/inverted-hamstring-in-place-with-arm-reach">inverted hamstring - in place with arm reach</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/knee-hug-moving-forward">knee hug - moving forward</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/lateral-squat-low">lateral squat - low</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/forward-lunge-elbow-to-instep-kneeling-in-place">forward lunge, elbow to instep - kneeling in place</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/bench-press-alternating-dumbbell">bench press - alternating dumbbell</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/romanian-deadlift-1-leg-dumbbell">romanian deadlift - 1 leg dumbbell</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/squat-to-press-dumbbell">squat to press - dumbbell</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/rotational-lift-standing-cable-rope">rotational lift - standing cable (rope)</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/curl-to-overhead-press-front-foot-elevated-dumbbell">curl to overhead press - front foot elevated dumbbell</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/lateral-dynamic-pillar-bridge-feet-stacked">lateral dynamic pillar bridge - feet stacked</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/lateral-lunge-slide">lateral lunge (slide)</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/bent-over-row-1-arm-1-leg-dumbbell-contra">bent over row - 1 arm 1 leg dumbbell (contra)</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/rotational-crunch-stability-ball">rotational crunch (stability ball)</a></li>
    </ul>
    <a href="/workouts">Back to previous page</a> </br>
    <a href="/profile">Back to the profile page</a>
    <h6>©All Rights reserved by original authors.</h6>

    </body>
    
{% endblock %}
