<!-- templates/endurance.html -->
{% block content %}


<h3>You can pick the following exercises: </h3>
<ul>
    <li><a href="https://www.ideafit.com/exercise-library/inverted-hamstring-in-place-with-arm-reach">inverted hamstring - in place with arm reach</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/knee-hug-moving-forward">knee hug - moving forward</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/reverse-lunge-with-lateral-flexion-0">reverse lunge - with lateral flexion</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/pillar-bridge">pillar bridge</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/lateral-pillar-bridge-feet-stacked">lateral pillar bridge - feet stacked</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/glute-bridge-marching">glute bridge - marching</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/mini-band-external-rotation">mini band - external rotation</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/ys-floor-0">ys - floor</a></li>
</ul>

<a href="/workouts">Back to previous page</a> </br>
<a href="/profile">Back to homepage</a>
<h6>©All Rights reserved by original authors.</h6>
    
{% endblock %}