<!-- templates/lean.html -->

{% block content %}

<body style="background-image:url('/static/hj.jpg');">
        <h2>The Get-Lean Meal Plan</h2>
        <dl>
            <dt><strong>Target:</strong></dt>
            <dd>- 2,000 calories</dd>
            <dd>- 150g carbs</dd>
            <dd>- 150g protein</dd>
            <dd>- 88g fat</dd>
        </dl>
        <h3>Sample Meal Options</h3>
        <dl>
            <dt><strong>Meal 1: Spinach Omelet</strong></dt>
            <dd>- Eggs: 3</dd>
            <dd>- Cheese (Pepper jack): 1 slice</dd>
            <dd>- Spinach (Baby spinach): 1 cup </dd>
            <dd>- Peach: 1</dd>
            <br>
            <dt><strong>Meal 2: Chocolate Nut Shake</strong></dt>
            <dd>- Protein Powder (Chocolate): 1 scoop</dd>
            <dd>- Chocolate Milk: 2 cups</dd>
            <dd>- Peanut Butter: 2 tbsp </dd>
            <dd>- Chia Seeds: 1 tbsp</dd>
            <dd>- Ice: 2-3 cubes</dd>
            <br>
            <dt><strong>Meal 2 Alternative: Strawberry Cream Smoothie</strong></dt>
            <dd>- Protein Powder (Vanilla): 1 scoop</dd>
            <dd>- Flaxseeds: 1 tbsp</dd>
            <dd>- Strawberies: 6</dd>
            <dd>- Yogurt: 3/4 cup</dd>
            <br>
            <dt><strong>Meal 3: Grilled Steak with Avocado-Tomato Salad</strong></dt>
            <dd>- Steak (Top round): 4 oz.s</dd>
            <dd>- Avocado: 1/2</dd>
            <dd>- Tomato: 1 </dd>
            <br>
            <dt><strong>Meal 4: Post-Workout Nutrition</strong></dt>
            <dd>- Protein Powder (or Recovery shake. Should contain 50g carbs and 25g protein): 1 serving</dd>
            <br>
            <dt><strong>Meal 5: Flax Pasta with Hearty Sauce</strong></dt>
            <dd>- Chicken (chicken breast): 3 oz.</dd>
            <dd>- Pasta (Whole-wheat flax penne pasta): 1 oz.</dd>
            <dd>- Mushrooms (Sliced): 1 cups</dd>
            <dd>- Broccoli (Florets): 2 cups</dd>
            <dd>- Marinarry Sauce: 1/2 cup</dd>
            <dd>- Olive Oil (Extra virgin): 1 tbsp</dd>
            <dd><li><strong>Chicken Alternate Options: </strong>3 oz. 95% lean ground beef, 3 oz yellowfin tuna, 5 oz clams, or 3 oz clod roast</li></dd>
            <dd><li><strong>Mushrooms Alternate Options: </strong>3 stalks asparagus, 1 cup chopped baby spinach, 3 baby zucchini, or 1 diced plum tomato</li></dd>
            <dd><li><strong>Broccoli Alternate Options: </strong>2 cups cubed eggplant, 1 diced yellow pepper or summer squash, or 1 diced carrot + 1 diced stalk of celery</li></dd>
        </dl>


<a href="/meal_plans">Back to previous page</a> </br>
<a href="/profile">Back to homepage</a>
<h6>©All Rights reserved by original authors.</h6>
 </body>   
{% endblock %}
