<!-- templates/plans.html -->

{% extends "base.html" %}
{% block content %}
<head>
    <title >Premade Meal Plans</title>
    <h1 style="color:magenta;" class="title"> Hello {{ name }}! Welcome to the Premade Meal Plans Page.</h1>
</head>

</br>

<body>
    <p style="color:magenta;" > Pick your Meal Plans!</p>
    <ul>
        <li><a href="/the_beginner_meal_plan">The Beginner Meal Plan</a></li>
        <li><a href="/the_get_lean_meal_plan">The Get-Lean Meal Plan</a></li>
        <li><a href="/the_skinny_guy_muscle_gain_plan">The Skinny Guy Muscal-Gain Plan</a></li>
    </ul>
</body>

</br>
</br>

<footer style="color:magenta;">
    <a href="/">Back to homepage</a> </br>
    <a href="/profile">Back to profile page</a>
    <h6>©All Rights reserved by original authors.</h6>
</footer>

{% endblock %}





  