<!-- templates/spotify.html -->

{% extends "base.html" %}
{% block content %}

<head>
    <title>Spotiy</title>
    <h1 style="color:magenta;" class="title"> Hello {{ name }}! Lets link you to spotify.</h1>
</head>

</br>

<body>
    <div class="row">
        <div class="column" style="background-color: rgb(166, 209, 226)">
            <ul>
                    <li><a href="https://www.spotify.com/us/">Hit me for some music.</a></li>
                </ul>
            </div>

</body>

</br>
</br>

<footer style="color:magenta;">
    <a href="/">Back to homepage</a> </br>
    <a href="/profile">Back to Profile Page</a> </br>
    <h6>©All Rights reserved by original authors.</h6>
</footer>
    
  {% endblock %}
