<!-- templates/tools.html -->

{% extends "base.html" %}
{% block content %}

<head>
    <title>Tools</title>
    <h1 style="color:magenta;" class="title"> Hello {{ name }}! Welcome to the Page of TOOLS.</h1>
</head>

</br>

<body>
    <ul>
        <li><a href="/bmi_tool">BMI Calculator</a></li>
        
    </ul>
</body>

</br>
</br>

<footer style="color:magenta;">
    <a href="/">Back to homepage</a> </br>
    <a href="/profile">Back to Profile Page</a> </br>
    <h6>©All Rights reserved by original authors.</h6>
</footer>
    
  {% endblock %}