<!-- templates/train.html -->
{% block content %}
<body style="background-image:url('/static/work1.jpg');">

<h3>You can pick the following exercises: </h3>
<ul>
    <li><a href="https://www.ideafit.com/exercise-library/heel-to-glute-moving-forward-with-arm-reach-ipsi">heel to glute - moving forward with arm reach (ipsi)</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/forward-lunge-elbow-to-instep-crawling">forward lunge, elbow to instep - crawling</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/handwalk-moving-backward">handwalk - moving backward</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/lateral-lunge-0">lateral lunge</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/push-up-2">push up</a></li>
    <li><a href="https://www.ideafit.com/exercise-library/pillar-bridge-with-arm-lift">pillar bridge - with arm lift</a></li>
</ul>

</body>
<a href="/workouts">Back to previous page</a> </br>
<a href="/profile">Back to the profile page</a>
<h6>©All Rights reserved by original authors.</h6>
    
{% endblock %}
