<!-- templates/warmup.html -->

{% block content %}
  
    <h1>You can pick the following exercises:</h1>
    <p>Pick your Workouts!</p>
    <ul>
        <li><a href="https://www.ideafit.com/exercise-library/glute-bridge-marching">glute bridge - marching</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/internal-and-external-hip-rotation-prone">internal and external hip rotation - prone</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/knee-hug-to-forward-lunge-elbow-to-instep">knee hug to forward lunge, elbow to instep</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/leg-overs-alternating">leg overs - alternating</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/knee-hug-moving-forward">knee hug - moving forward</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/reverse-lunge-with-rotation">reverse lunge - with rotation</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/drop-lunge-alternating-sides">drop lunge - alternating sides</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/lateral-squat-low">lateral squat - low</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/inverted-hamstring-moving-forward">inverted hamstring moving forward</a></li>
        <li><a href="https://www.ideafit.com/exercise-library/heel-to-glute-with-arm-reach-contra">heel to glute - with arm reach (contra)</a></li>
    </ul>
    <a href="/workouts">Back to previous page</a> </br>
    <a href="/profile">Back to homepage</a>
    <h6>©All Rights reserved by original authors.</h6>
    
{% endblock %}